.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
espeak-ng-data/

_skbuild/
*.egg-info/
.pybuild/
build-artifacts/
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper
debian/files
debian/*.substvars
debian/piper-tts/
debian/tmp/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/
